# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
coverage.xml
htmlcov/
.cache/
nosetests.xml
coverage/
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Logs and local configs
*.log
*.ini
*.cfg
*.env
.DS_Store

# GitHub artifacts and Actions data
*.zip
*.tar.gz
*.tgz
*.log
*.gz
